<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="main.css" rel="stylesheet">
</head>
<body class="grey-bg">
<div class="white-bg">
    <% for (let i = 0; i < posts.length; i++) { %> <!-- 괄호 닫기 수정 -->
    <div class="list-box">
        <h4><%= posts[i].title %></h4>
        <p><%= posts[i].content %></p>
    </div>
    <% } %> <!-- 반복문 닫기 -->
</div>

<script>
    // 스크립트 코드가 필요하다면 여기에 추가
</script>
</body>
</html>
